
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Nunito Sans", sans-serif;
    background-color: #f3e6d8;
    height: 100vh;
}
.card{
    background-color: #fff;
    width: 600px;
    height: fit-content; 
    border-radius: 10px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px ;
}
.imgCtn{
    width: 540px;
    border-radius: 10px;
}
.imgCtn img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.description h1{
    color: #444;
    font-size: 32px;
    font-weight: 800;
    text-align: left;
}
.description p{
    font-size: 14px;
}
h2{
    margin-top: 10px;
    color: darkred;
}
.two {
    width: 520px; 
    text-align: left;
    background-color: #f3e6d8;
}
.two ul{
       font-size: 16px;
       padding:0 8px;
}
.two ul li{
    list-style-position: inside;
    font-size: 16px;
    padding: 2px 10px;
    margin: 6px;
}
.Ingredients{
        margin: 20px 0 20px;
}
.Ingredients ul{
    margin: 20px;
}
.Ingredients ul li{
    list-style-position: inside;
    margin: 8px;
}
h3{
    font-size: 20px;
    margin: 10px;
    color: darkred;
    padding-left: 30px;
}
.Instructions{
        margin:0 15px;
        padding-left: 30px;
}
.Instructions ol{
    padding: 10px;
}
.Instructions ol li{
    list-style-position: inside;
}
.five{
    margin: 20px 0 20px;
}
.five h3{
    margin: 10px;
    color: darkred;
}
.five p{
    font-size: 16px;
    padding-left: 40px;
}
div {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    margin: 12px auto;
    padding: 8px 12px;
}
.seven{
    display: flex;
    width: 450px;
    padding: 2px;
    text-align: left;
}
